h1 {
    color: aquamarine;
    font-size: 50px;
    animation-duration: 2s;
    animation-name: slidein;
    animation-iteration-count: infinite; 
}


h2 {
    color: aliceblue;
    font-size: 35px;
    font-family: monospace
}

body {
    background-image: url('yeah.jpg');
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    font-size: 55px;
    font-family: cursive;
    font-style: italic;
    font-weight: bold;
}

h3 {
    color: gold;
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif
}
button {
    size: 100px;
    color: whitesmoke;
    font-size: large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: gold;
}

@keyframes slidein {
    0% {
      margin-left: 0%;
    }
    50% {
      margin-left: 300px;
    }
    100% {
      margin-left: 0%;
    }
}